/* Add your custom extension styling here */
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    padding: .5em;
}

.sophos-icon {
    background-image: url("icons/sophos.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
}